---
const { name, level, job, imageUrl, legionLevel } = Astro.props;
---
<section class="card">
  <div>
    <h2 class="ign">{name}</h2>
    <p class="level">{level}</p>
    {legionLevel != null && <p class="legion">⚜️ {legionLevel}</p>}
    <p class="job">{job}</p>
  </div>
  <div class="background">
    <img src="" alt="">
    <img src={imageUrl} alt="" class="char">
  </div>
  <div class="text">
    <p class="world"></p>
    <p class="comments">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum, quibusdam.</p>
  </div>
</section>

<style>
  h2, p {
    color: black;
    font-family: 'Cherry Bomb One', system-ui;
    font-weight: 400;
  }

  .card {
    max-width: 320px;
    /* aspect-ratio: 1 / 1.58; */
    aspect-ratio: 5.5 / 8.5;
    background-color: aliceblue;
    border: 3px solid white;
    border-radius: 15px;
  }
</style>